.home-container {
  position: relative;
  width: 100%;
  height: 100%;
  & > div {
    position: absolute;
    left: 0;
    right: 0;
    margin-inline: auto;
    width: fit-content;
    min-width: 40%;
    max-width: 100%;
    height: 30%;
    text-align: center;
    z-index: 50;
    & > * {
      height: 100%;
      max-height: 100%;
      img {
        height: 100%;
        max-height: 100%;
      }
    }
    &.lockup {
      top: 2%;
      height: 25%;
    }
    &.text {
      top: 28%;
      height: 30%;
    }
    &.banner {
      top: 50%;
      height: 25%;
    }
    &.button {
      top: 72%;
      height: 23%;
      div {
        width: 100%;
        height: 100%;
        text-align: center;
      }
      img {
        cursor: pointer;
        width: auto;
        height: 100%;
        margin: 0 auto;
      }
    }
    &.character-blippi-1 {
      height: 85%;
      left: -12%;
      right: initial;
      bottom: 0;
      z-index: 30;
    }
    &.character-meekah-1 {
      height: 84%;
      left: 3.5%;
      right: initial;
      bottom: 0;
      z-index: 20;
    }
    &.character-blippi-2 {
      height: 87%;
      left: initial;
      right: 5%;
      bottom: 0;
      z-index: 30;
    }
    &.character-meekah-2 {
      height: 81%;
      left: initial;
      right: -14%;
      bottom: 0;
      z-index: 20;
    }
  }
}

@media only screen and (max-width: 666px) {
  .home-container {
    & > div {
      width: 100%;
      img {
        width: 100%;
        height: initial;
        max-height: initial;
      }
      &.lockup {
        top: 0;
      }
      &.text {
        top: 36%;
      }
      &.banner {
        top: 52%;
      }
      &.button {
        top: 66%;
        height: 17%;
      }
      &.character-blippi-1 {
        left: -27%;
      }
      &.character-meekah-1 {
        left: 30%;
      }
    }
  }
}
