@font-face {
  font-family: "Dimbo";
  src:
    url("/fonts/DimboRegular.woff2") format("woff2"),
    url("/fonts/DimboRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.master_wrapper {
  background-color: #000;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app_wrapper {
  overflow: auto;
  overflow-x: hidden;
}

.MuiAspectRatio-root,
.MuiAspectRatio-content {
  background: none !important;
}

@media only screen and (max-width: 666px) {
  .mobile-hide {
    display: none;
  }

  .MuiAspectRatio-root,
  .MuiAspectRatio-content {
    height: 100vh !important;
    max-height: 100vh !important;
  }

  .master_wrapper {
    & > div {
      height: 100% !important;
      overflow: hidden;
    }
  }
}

.master_wrapper .footer_panel {
  position: fixed;
  padding-bottom: 0;
}
